/* ===== HERO SECTION ===== */
.about-page{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)) , url("public/about-bg-2.jpg") center/cover no-repeat;
    background-position: fixed;

}

.about-hero {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Creepster", cursive;
}

.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.about-hero-content {
  position: relative;
  text-align: center;
  z-index: 2;
 
}

.about-hero-content h1 {
  font-size: 3.2rem;
  color: #ee3343;
  text-shadow: 0 0 15px rgb(146, 39, 39), 0 0 30px black;
}

.about-hero-content p {
  font-size: 1.4rem;
  font-weight: 450;
  margin-top: 0.7rem;
  color: #e0e0e0;
}

/* ===== ABOUT CONTENT ===== */
.about-content {
  max-width: 900px;
  margin: 3rem auto;
  text-align: center;
  padding: 0 1rem;
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;

}

.about-content h2 {
  font-family: "Creepster", cursive;
  font-size: 2.5rem;
  font-weight: 550;
  margin-bottom: 1rem;
  color: #e63946;
  text-shadow: 0 0 10px black;
}

.about-content p {
  line-height: 1.8;
  font-family:cursive;
  font-size: 1.2rem;
  color: #ddd;
}

/* ===== ABOUT GRID ===== */
.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.about-card {
  background: rgba(20, 20, 20, 0.9);
  border: 1px solid #e63946;
  border-radius: 10px;
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s;
}

.about-card h3 {
  font-family: "Creepster", cursive;
  font-size: 1.5rem;
  font-weight: 450;
  margin-bottom: 0.5rem;
  color: #e63946;
}

.about-card p {
  color: #bbb;
  font-size: 0.95rem;
}

.about-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px red, 0 0 40px black;
}

.about-card.warning {
  background: rgba(50, 0, 0, 0.85);
  border: 1px solid crimson;
  color: #ffbaba;
}
